/* @media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid transparent;
}
.btn:hover {
  color: inherit;
}
.btn:focus {
  box-shadow: none;
  outline: none;
}

.btn.rounded-full {
  border-radius: 50px;
}

.btn.icon-btn {
  width: 48px;
  height: 48px;
  padding: 0;
  line-height: 48px;
}


.header-eight .primary-btn {
  background: orange;
  color: #ffffff;
  box-shadow: var(--shadow-2);
}
.header-eight .active.primary-btn,
.header-eight .primary-btn:hover,
.header-eight .primary-btn:focus {
  background: #1c3ab6;
  color: #ffffff;
  box-shadow: var(--shadow-4);
}
.header-eight .deactive.primary-btn {
  background: #e0e0e0;
  color: #6d6d6d;
  pointer-events: none;
}


.header-eight {
  position: relative;
  padding: 100px 0 100px 0;
  background: orange;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-eight {
    padding: 130px 0 80px 0;
  }
}
@media (max-width: 767px) {
  .header-eight {
    padding: 100px 0 60px 0;
  }
}
.header-eight .header-image img {
  width: 100%;
  border-radius: 8px;
  transform: rotate(6deg);
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .header-eight .header-image {
    margin-top: 40px;
  }
}
.header-eight .header-content {
  border-radius: 0;
  position: relative;
  z-index: 1;
  text-align: left;
}
.header-eight .header-content h1 {

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 130px;
  line-height: 156px;
  text-shadow: 0px 3px 8px #00000017;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-eight .header-content h1 {
    font-size: 35px;
    line-height: 45px;
  }
}
@media (max-width: 767px) {
  .header-eight .header-content h1 {
    font-size: 50px;
    line-height: 42px;
  }
}
.header-eight .header-content h1 span {
  display: block;
}
.header-eight .header-content p {

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 49px;
  height: 98px;
  color: #ffffff;
  margin-bottom: 40px;
}
.header-eight .button {
  margin-top: 40px;
}

.header-eight .primary-btn {

background-color: #ffffff;
color: orange;
border: 1px solid transparent;
border-radius: 10px;

margin: 20px 0px auto;
font-weight: 600;
display: inline-block;
line-height: 50px;
text-align: center;
font-size: 20px;
max-width: 275px;
max-height: 70px;
}

.header-eight .primary-btn:hover {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
}
.header-eight .video-button {
  display: inline-flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header-eight .video-button {
    margin-top: 20px;
  }
}
.header-eight .video-button .text {
  display: inline-block;
  margin-left: 15px;
  color: #ffffff;
  font-weight: 600;
}
.header-eight .video-button .icon-btn {
  background: #ffffff;
  color: orange;
} */
.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  background: #ffffff;
}

.carousel .container-fluid {
  padding: 0;
}

.carousel .carousel-item {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel .carousel-img {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: right;
  overflow: hidden;
}

.carousel .carousel-img::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.carousel .carousel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .carousel-text {
  position: absolute;
  max-width: 700px;
  height: calc(100vh - 35px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}

.carousel .carousel-text h1 {
  text-align: center;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

.carousel .carousel-text h1 span {
  color: #fbaf32;
}

.carousel .carousel-text p {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  margin-bottom: 35px;
}

.carousel .carousel-btn .btn:last-child {
  margin-left: 10px;
  background: #719a0a;
  border-color: #719a0a;
}

.carousel .carousel-btn .btn:last-child:hover {
  color: #719a0a;
  background: transparent;
}

.carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@media (max-width: 991.98px) {
  .carousel,
  .carousel .carousel-item,
  .carousel .carousel-text {
      height: calc(100vh - 105px);
  }
  
  .carousel .carousel-text h1 {
      font-size: 35px;
  }
  
  .carousel .carousel-text p {
      font-size: 16px;
  }
  
  .carousel .carousel-text .btn {
      padding: 12px 30px;
      font-size: 15px;
      letter-spacing: 0;
  }
}

@media (max-width: 767.98px) {
  .carousel,
  .carousel .carousel-item,
  .carousel .carousel-text {
      height: calc(100vh - 70px);
  }
  
  .carousel .carousel-text h1 {
      font-size: 30px;
  }
  
  .carousel .carousel-text .btn {
      padding: 10px 25px;
      font-size: 15px;
      letter-spacing: 0;
  }
}

@media (max-width: 575.98px) {
  .carousel .carousel-text h1 {
      font-size: 25px;
  }
  
  .carousel .carousel-text .btn {
      padding: 8px 20px;
      font-size: 14px;
      letter-spacing: 0;
  }
}
