@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

:root {
  --font-family-default: 'Epilogue', sans-serif;

  --clr-white: hsl(0, 0%, 98%);
  --clr-gray: hsl(0, 0%, 41%);
  --clr-black: hsl(0, 0%, 8%);

  --fw-regular: 500;
  --fw-bold: 700;
}

.no-display {
  display: none !important;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-family-default);
}

nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding-inline: 2rem;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  width: max(80%, 50em);
  margin-inline: auto;
  margin-top: 4rem;
  margin-bottom: 10rem;
}

.hero-img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
}

.nav-link {
  font-size: 0.8rem;
  color: var(--clr-gray);
  cursor: pointer;
}

.nav-link:hover {
  color: var(--clr-black);
}

.nav-link.push-right {
  margin-left: auto;
}

.nav-link.btn {
  border: 2px solid var(--clr-gray);
  padding: 0.6rem 0.8rem;
  border-radius: 10px;
}

.nav-link.btn:hover {
  border-color: var(--clr-black);
}

.toggle-nav-btn {
  display: none;
}

.dropdown {
  display: grid;
  gap: 0.8rem;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.2);
  translate: -50% 1.4rem;
}

.features-drop>li {
  display: flex;
  gap: 1rem;
}

.arrow {
  transition: rotate 0.2s ease;
}

.rotate-180 {
  rotate: 180deg;
}

.intro {
  margin-top: auto;
  display: grid;
  gap: 8rem;
}

.details {
  display: grid;
  gap: 3rem;
}

.details>* {
  height: fit-content;
}

.section-title {
  font-size: 4.5rem;
  font-weight: var(--fw-bold);
  color: var(--clr-black);
}

.section-title>span {
  display: block;
}

.section-description {
  font-size: 1.2rem;
  line-height: 1.4;
  width: 40ch;
  color: var(--clr-gray);
}

.details>.btn {
  width: fit-content;
  padding: 0.8em 1.6em;
  border: 2px solid var(--clr-black);
  border-radius: 10px;
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.details>.btn:hover {
  background: transparent;
  color: var(--clr-black);
}

.clients {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  gap: 1rem;
}

@media (width < 70em) {
  main {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    max-width: 100%;
  }

  .intro,
  .details {
    max-width: 95%;
    margin-inline: auto;
    text-align: center;
    display: grid;
    place-items: center;
  }

  .intro {
    gap: 4rem;
  }

  .details {
    gap: 2rem;
  }

  .section-title {
    font-size: 1.6rem;
  }

  .section-title>span {
    display: inline;
  }

  .section-description {
    width: fit-content;
  }

  .clients {
    max-width: 100%;
    align-items: center;
    padding-inline: 1rem;
  }

  .client-logo {
    width: 20%;
  }
}


@media (width < 50em) {
  /* body {
    width: calc(100vw + 234px);
  } */

  nav {
    width: 100%;
    justify-content: space-between;
    padding-inline: 1rem;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -60%;
    background-color: var(--clr-white);
    gap: 1.2rem;
    padding: 1.2rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 60%;
    z-index: 2;
    /* translate: 100% 0; */
    transition: right 0.4s ease;
  }

  .nav-link.push-right {
    margin-left: 0;
  }

  .nav-link.push-right,
  .nav-link.btn {
    width: 100%;
    text-align: center;
  }

  .toggle-nav-btn {
    display: block;
    cursor: pointer;
  }

  .close-nav {
    align-self: flex-end;
  }

  .nav-open {
    right: 0;
    /* translate: 0; */
  }

  #dim-filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.4s ease;
  }

  .filter-visible {
    opacity: 0.6;
  }

  .dropdown {
    position: static;
    box-shadow: none;
    padding: 0;
    background: transparent;
    translate: 0 0;
    margin-left: 1rem;
  }
}