/* @tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

  :root {
    --font-family: "Inter", sans-serif;
  
    --shadow-1: 0px 0px 1px rgba(40, 41, 61, 0.08),
      0px 0.5px 2px rgba(96, 97, 112, 0.16);
    --shadow-2: 0px 0px 1px rgba(40, 41, 61, 0.04),
      0px 2px 4px rgba(96, 97, 112, 0.16);
    --shadow-3: 0px 0px 2px rgba(40, 41, 61, 0.04),
      0px 4px 8px rgba(96, 97, 112, 0.16);
    --shadow-4: 0px 2px 4px rgba(40, 41, 61, 0.04),
      0px 8px 16px rgba(96, 97, 112, 0.16);
    --shadow-5: 0px 2px 8px rgba(40, 41, 61, 0.04),
      0px 16px 24px rgba(96, 97, 112, 0.16);
    --shadow-6: 0px 2px 8px rgba(40, 41, 61, 0.08),
      0px 20px 32px rgba(96, 97, 112, 0.24);
  }
  
  body {
    font-family: var(--font-family);
    color: #1d1d1d;
    font-size: 16px;
  }
  @media (max-width: 991px) {
    body {
      font-size: 14px;
    }
  }
  
  img {
    max-width: 100%;
  }
  
  a {
    display: inline-block;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
    outline: none;
  }
  
  h1 {
    font-size: 2.75em;
    line-height: 1.25;
    font-weight: 600;
    color: #1d1d1d;
    margin: 0px;
  }
  
  p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #6d6d6d;
    margin: 0px;
  }
  
  */
/* 

  body {
    color: #757575;
    background: #ffffff;
    font-family: 'open sans', sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #454545;
    font-family: 'Nunito', sans-serif;
}

a {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #fbaf32;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #719a0a;
    outline: none;
    text-decoration: none;
}

.btn.custom-btn {
    padding: 12px 25px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #fbaf32;
    border: 2px solid #fbaf32;
    border-radius: 5px;
    transition: .5s;
}

.btn.custom-btn:hover {
    color: #fbaf32;
    background: transparent;
}

.btn.custom-btn:focus,
.form-control:focus,
.custom-select:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #fbaf32;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    border-radius: 5px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
    padding-top: 10px;
}

.back-to-top:hover {
    background: #719a0a;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-size: inherit;
    margin-left: 0;
} */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: var(--dark-color);
  text-decoration: none;
  transition: all 0.4s linear;
}

a:hover  {
  color: var(--dark-color);
  text-decoration: none;
}
:root {
  --primary-color:        #ffd500;
  --white-color:          #ffffff;
  --dark-color:           #010101;
  --menu-bg-color:        #212529;

  --gray-color:           #909090;
  --p-color:              #7d7a7a;

  --base-font-family:     "Plain", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-weight-bold:     600;
  --font-weight-normal:   400;
  --font-weight-light:    300;

  --h1-font-size:         56px;
  --h2-font-size:         48px;
  --h3-font-size:         38px;
  --h4-font-size:         34px;
  --h5-font-size:         30px;
  --h6-font-size:         24px;
  --p-font-size:          18px;
  --base-font-size:       16px;
  --button-font-size:     20px;

  --border-radius-large:  100%;
  --border-radius-medium: 80px;
  --border-radius-small:  40px;
}


body {
  font-family: var(--base-font-family);
  width: 100%;
  height: 100%;
}